@{
    ViewData["Title"] = "Weather Forecast";
}

<div class="text-center">
    <h1 class="display-4">Weather Forecast</h1>
    <br />
    <label for="location">Please add a location to get started</label>
    <div class="input-group">
        <div class="btn px-1 disabled"></div>
        <input value="London,UK" class="form-control border-end-0 border-primary" type="text" id="location" placeholder="Addresses, partial addresses or latitude,longitude values." aria-describedby="locationHelpBlock">
        <span class="input-group-append"></span></div>
    <br />
    <div>
        <input type="button" class="btn btn-info" id="SearchNext15Days" value="Next 15 days" />
    </div>
    <br/>
    <hr />
    <div>
        <label for="fromDate">Specific Dynamic Periods:</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dynamicPeriods" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Open this select menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dynamicPeriods">
                <a class="dropdown-item" value="today">today</a>
                <a class="dropdown-item" value="yesterday">yesterday</a>
                <a class="dropdown-item" value="tomorrow">tomorrow</a>
                <a class="dropdown-item" value="yeartodate">yeartodate</a>
                <a class="dropdown-item" value="monthtodate">monthtodate</a>
                <a class="dropdown-item" value="last7days">last7days</a>
                <a class="dropdown-item" value="last15days">last15days</a>
                <a class="dropdown-item" value="last30days">last30days</a>
                <a class="dropdown-item" value="last24hours">last24hours</a>
                <a class="dropdown-item" value="next7days">next7days</a>
                <a class="dropdown-item" value="next30days">next30days</a>
                <a class="dropdown-item" value="next24hours">next24hours</a>
            </div>
            <input type="button" class="btn btn-info" id="SearchDynamicPeriods" value="Search Dynamic Periods" />
        </div>
    </div>
    <br />
    <hr />
    <div>
        <label for="fromDate">Specific time request:</label>
        <input type="datetime-local" value="@DateTime.Today.ToString("s")" id="specificTime">
        <input type="button" class="btn btn-info" id="SearchBySpecificTime" value="Forecast by specific time" />
    </div>
    <hr/>
    <div>
        <label for="fromDate">From Date:</label>
        <input type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" id="fromDate" name="fromDate">
        <label for="toDate">To Date:</label>
        <input type="date" id="toDate" value="@DateTime.Today.AddDays(7).ToString("yyyy-MM-dd")" name="toDate">
        <input type="button" class="btn btn-info" id="SearchByDateRange" value="Forecast by date range" />
    </div>
    <hr/>
    <div>
        <label for="location">Please add a latitude,longitude to get started</label>
        <br/>
        <label for="latitude">Latitude:</label>
        <input id="latitude" value="38.9697" class="form-control" type="text" placeholder="Enter a latitude">
        <label for="longitude">Longitude:</label>
        <input id="longitude" value="-77.385" class="form-control" type="text" placeholder="Enter a longitude">
    </div>
    <br />
    <div>
        <input type="button" class="btn btn-info" id="SearchByLongLatRange" value="Forecast by longitude and latitude" />
    </div>
    <hr />
    <div>
        <label for="location">Please add a UNIX Time (Epoch Time) to get started</label>
        <label for="fromUnix">From UNIX Time:</label>
        <input id="fromUnix" value="1601510400" class="form-control" type="text" placeholder="Enter a from UNIX Time">
        <label for="toUnix">To UNIX Time:</label>
        <input id="toUnix" value="1609372800" class="form-control" type="text" placeholder="Enter a to UNIX Time">
    </div>
    <br />
    <div>
        <input type="button" class="btn btn-info" id="SearchByUNIXTime" value="Forecast by UNIX Time" />
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Validation Error</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label id="messageModal"></label>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(".dropdown-item").on("click", function () {
            $('#dynamicPeriods').text($(this).text());
        });

        $("#SearchNext15Days").click(function () {
            if (!isValid()) {
                return;
            }
            var txtVal = $("#location").val();

            window.location = "@Url.Action("WeatherData", "Home")" +
                "/" + txtVal;
        });

        $("#SearchDynamicPeriods").click(function () {
            if (!isValid()) {
                return;
            }

            var period = $('#dynamicPeriods').text().trim();
            if (period == "Open this select menu") {
                $('#messageModal').text("Please select a period item.")
                $('#myModal').modal("show");
                return;
            }

            var txtVal = $("#location").val();
            var period = $('#dynamicPeriods').text();
            window.location = "@Url.Action("WeatherDataDynamicPeriod", "Home")?id=" + txtVal + "&period=" + period;
        });
        
        $("#SearchByDateRange").click(function () {
            var txtVal = $("#location").val();
            if (!isValid()) {
                return;
            }

            var txtFromDate = $("#fromDate").val();
            var txtToDate = $("#toDate").val();

            if (txtFromDate == "") {
                $('#messageModal').text("Please enter From Date.")
                $('#myModal').modal("show");
                return;
            }

            if (txtToDate == "") {
                $('#messageModal').text("Please enter To Date.")
                $('#myModal').modal("show");
                return;
            }

            window.location = "@Url.Action("WeatherDataByDateRange", "Home")?id=" + txtVal + "&from=" + txtFromDate + "&to=" + txtToDate;
        });

        $("#SearchByLongLatRange").click(function () {
            var txtLong = $("#longitude").val();
            var txtLat = $("#latitude").val();

            if (txtLong == "") {
                $('#messageModal').text("Please enter the longitude.")
                $('#myModal').modal("show");
                return;
            }

            if (txtLat == "") {
                $('#messageModal').text("Please enter the latitude.")
                $('#myModal').modal("show");
                return;
            }

            window.location = "@Url.Action("WeatherDataByLongLatRange", "Home")?longitude=" + txtLong + "&latitude=" + txtLat;
        });

        $("#SearchBySpecificTime").click(function () {
            if (!isValid()) {
                return;
            }
            var txtVal = $("#location").val();
            var txtTime = $("#specificTime").val();

            if (txtTime == "") {
                $('#messageModal').text("Please enter the specific time.")
                $('#myModal').modal("show");
                return;
            }

            window.location = "@Url.Action("WeatherDataBySpecificTime", "Home")?id=" + txtVal + "&specificTime=" + txtTime;
        });

        $("#SearchByUNIXTime").click(function () {
            if (!isValid()) {
                return;
            }
            var txtVal = $("#location").val();
            var txtFromDate = $("#fromUnix").val();
            var txtToDate = $("#toUnix").val();
            if (txtFromDate == "") {
                $('#messageModal').text("Please enter the from Date.")
                $('#myModal').modal("show");
                return;
            }

            if (txtToDate == "") {
                $('#messageModal').text("Please enter the to Date.")
                $('#myModal').modal("show");
                return;
            }

            window.location = "@Url.Action("WeatherDataByUnixTime", "Home")?id=" + txtVal + "&from=" + txtFromDate + "&to=" + txtToDate;
        });

        function isValid() {
            var txtVal = $("#location").val();

            if (txtVal == "") {
                $('#messageModal').text("Please enter location.")
                $('#myModal').modal("show");
                return false;
            }

            return true;
        }
    </script>
}