@model WeatherData
@{
    Layout = "_Layout";
    ViewBag.Title = "Daily Forecast";
}

@try
{
    @if (Model is null)
    {
        <h1>I am sorry, I can't find your city :(</h1>

        <br />
        <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
        return;
    }

    <div style="text-align: center;">
        <h2>Location in @Model.Address</h2>
    </div>

    <div>
        <b>Please add some filter items:</b>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <label for="tempOver">Temperature over</label>
            </div>
            <div class="col-sm-3">
                <input id="tempOver" value="" class="form-control input-sm" type="text" placeholder="Enter a temperature">
            </div>
            <div class="col-sm-3">
                <label for="tempLess">Max temperature below</label>
            </div>
            <div class="col-sm-3">
                <input id="tempLess" value="" class="form-control input-sm" type="text" placeholder="Enter a temperature">
            </div>
        </div>
        <div class="row">
            <div class="form-check col-sm-3" style="margin-left: 20px;">
                <input class="form-check-input" type="checkbox" value="" id="NoRain">
                <label class="form-check-label" for="NoRain">
                    No rain
                </label>
            </div>
        </div>
        <div class="row">
            <div class="form-check col-sm-3" style="margin-left: 20px;">
                <input class="form-check-input" type="checkbox" value="" id="PartlyCloudy">
                <label class="form-check-label" for="PartlyCloudy">
                    Partly cloudy
                </label>
            </div>
        </div>
    </div>
    <br />
    <div>
        <input type="button" class="btn btn-info" id="Filter" value="Filter" />
    </div>
    <br />

    <h2>Daily</h2>

    <div id="dayTable">
        @Html.Partial("_DaysTable", Model.Days);
    </div>

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
    <br />
}
catch
{

    <h1>I am sorry, I can't find your city :(</h1>

    <br />
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>

}

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Validation Error</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <label id="messageModal"></label>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Temperature Trends By Days"
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: "Temp",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.Temp)
                }, {
                type: "line",
                name: "TempMax",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.TempMax)
                }, {
                type: "line",
                name: "TempMin",
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.TempMin)
                }]
        });
        chart.render();

    }
</script>
@section Scripts {
    <script type="text/javascript">
        $(document).ajaxStop($.unblockUI);

        $("#Filter").click(function () {
            var location = '@Model?.Address';
            var tempOver = $("#tempOver").val();
            var tempLess = $("#tempLess").val();
            var overThan = 0;
            var lessThan = 0;
            var noRain = null;
            var partlyCloudy = null;

            if (tempOver != "") {
                if (isNumeric(tempOver)) {
                    overThan = tempOver;
                }
                else {
                    $('#messageModal').text("The temperature over should be a number.")
                    $('#myModal').modal("show");
                    return;
                }
            }

            if (tempLess != "") {
                if (isNumeric(tempLess)) {
                    lessThan = tempLess;
                }
                else {
                    $('#messageModal').text("The max temperature below should be a number.")
                    $('#myModal').modal("show");
                    return;
                }
            }

            if ($('#NoRain').is(":checked")) {
                noRain = true;
            }

            if ($('#PartlyCloudy').is(":checked")) {
                partlyCloudy = true;
            }

            if (overThan > 0 || lessThan > 0 || noRain == true || partlyCloudy == true) {
                $.blockUI();
                $.ajax({
                    type: "GET",
                    url: "/Home/WeatherData/",
                    data: { "id": location, "overThan": overThan, "lessThan": lessThan, "noRain": noRain, "partlyCloudy": partlyCloudy },
                    success: function (jsReturnArgs) {
                        $("#dayTable").html(jsReturnArgs);
                    },
                    error: function (errorData) { onError(errorData); }
                });
            }
        });
    </script>
}