@model WeatherData
@{
    Layout = "_Layout"; 
    ViewBag.Title = "Daily Forecast";
}

@try
{
    @if (Model is null)
    {
        <h1>I am sorry, I can't find your city :(</h1>

        <br />
        <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
        return;
    }

    <div style="text-align: center;">
        <h2>Now (@Model.Days[0].DateTime) in @Model.Address</h2>
        <h1>@Model.Days[0].Temp °C</h1>
        <h4>@Model.Days[0].Description</h4>
        <h4>Feels like @Model.Days[0].FeelsLike °C Wind @Model.Days[0].WindSpeed mph Humidity @Model.Days[0].Humidity% Pressure  @Model.Days[0].Pressure mb</h4>
    </div>

    <h2>Daily</h2>

    Html.RenderPartial("_DaysTable", Model.Days.GetRange(1, 14));

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>
    <br />
}
catch
{

    <h1>I am sorry, I can't find your city :(</h1>

    <br />
    <a asp-action="" class="btn btn-sm btn-primary">Search Other City</a>

}

<script>
	window.onload = function () {

		var chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			title: {
				text: "Temperature Trends By Days"
			},
			toolTip: {
				shared: true
			},
			data: [{
				type: "line",
				name: "Temp",
				showInLegend: true,
				dataPoints: @Html.Raw(ViewBag.Temp)
		}, {
				type: "line",
				name: "TempMax",
				showInLegend: true,
				dataPoints: @Html.Raw(ViewBag.TempMax)
		}, {
				type: "line",
				name: "TempMin",
				showInLegend: true,
				dataPoints: @Html.Raw(ViewBag.TempMin)
		}]
		});
		chart.render();

	}
</script>